# Object files
obj/
*.o

# Latex compiled
*.log
*.aux
*.out
*.bbl
*.bcf
*.blg
*.toc
*.run.xml
*-blx.bib
Homework/H*/*.tex
svg-inkscape/

# Temp
*tmp*

# Zip
*.zip

# Executable
Homework/H*/ex*/ex*
Challenge/g2/cipher*/g2
